@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('../fonts/NunitoSans-Italic.ttf');
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf');
}

html,
body {
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.font-1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
}

.font-2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
}

@media all and (min-width: 1300px) {
    .width-content-1 {
        max-width: 1256px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1%;
    }

    .h-83 {
        height: 83px;
    }

    .h-133 {
        height: 133px;
    }

    header {
        background-color: #131313;
        color: white;
        align-items: center;
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
    }

    .header-logo {
        width: calc(100%/5);
        color: #E3B873;
        align-items: center;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .header-footer-menu {
        width: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-footer-menu>li {
        margin-right: 15px;
        font-size: 11px;
        line-height: 15px;
    }

    .header-footer-menu>a {
        text-decoration: none;
    }

    button {
        cursor: pointer;
    }

    .header-contact {
        flex-direction: row;
        align-items: center;
        width: calc(100%/4);
    }

    li {
        list-style-type: none;
    }

    .link-menu-header:hover {
        color: #E3B873;
    }

    .section-1 {
        background: url('../img/image_4.3.svg');
        width: 100%;
        height: 707px;
        background-color: #131313;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .section-1__size {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 707px;
    }

    .header-button {
        width: 161px;
        height: 37px;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
    }

    .text-button {
        font-family: 'Nunito Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .telephone {
        width: 126px;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        text-decoration-line: underline;
        color: #E3B873;
        margin-right: 45px;
    }

    .link-menu-header {
        text-decoration: none;
        color: #FFFFFF;
    }

    .link-logo {
        text-decoration: none;
        color: #E3B873;
    }

    .section-1__size__block {
        max-width: 1438px;
        margin: 0 auto;
    }

    .section-1__block__text__position {
        padding-top: 194px;
        padding-left: 134px;
    }

    .section-1__block__text__position h1 {
        max-width: 520px;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .section-1__block__text__color {
        color: #E3B873;
    }

    .section-1__block__text__position p {
        max-width: 504px;
        font-size: 22px;
        line-height: 36px;
        color: #FFFFFF;
        margin-bottom: 41px;
    }

    .section-1__block__calculate_the-cost_button {
        width: 207px;
        height: 51px;
        border-radius: 2px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        margin-right: 20px;
    }

    .section-1__block__submit_your_application_button {
        width: 207px;
        height: 51px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
    }

    .section-1__block__calculate_the-cost_button:hover,
    .section-1__block__submit_your_application_button:hover {
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
        border: 1px solid #E3B873;
    }

    .section-2 {
        height: 1074px;
        background-color: #131313;
    }

    .s-2-left-block__fotogallery {
        display: none;
    }

    .section-2-size-block {
        max-width: 1171px;
        height: 552px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 107px 1% 0;
    }

    .section-2-left-block {
        max-width: 442px;
    }

    .section-3__text {
        max-width: 681px;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
        line-height: 37px;
    }

    h2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: #E3B873;
        margin-top: 69px;
        margin-bottom: 34px;
    }

    .section-2-left-block p {
        font-size: 14px;
        line-height: 27px;
        color: #FFFFFF;

    }

    .section-2-right-block {
        max-width: 679px;
    }

    .section-2-right-block__image {
        max-height: 482px;
        max-width: 679px;
    }

    .section-2-right-block__projects {
        margin-bottom: 52px;
    }

    .section-2-right-block__projects li {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }

    .section-2-right-block__projects__li {
        margin-right: 60px;
    }

    .section-2-right-block__projects li:hover {
        color: #E3B873;
        border-bottom: solid #E3B873 1px;
    }

    .s-2-left-block__project_info p {
        font-size: 13px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 42px;
    }

    h3 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #E3B873;
        margin-bottom: 9px;
    }

    .s-2-left-block__project_info {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .s-2-left-block__project_info__column_1 {
        width: 161px;
        margin: 0 29px 34px 0;
        height: 73px;
    }

    .s-2-left-block__project_info__column_2 {
        width: 161px;
        margin: 0 89px 34px 0;
        height: 73px;
    }

    .section-2-left-block__img-navigation {
        margin-top: 50px;
        max-width: 206px;
    }

    .section-2__img_camera {
        max-width: 196px;
        display: block;
        margin: 112px auto 0;
    }

    .section-3 {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
    }

    .section-3__size {
        max-width: 1236px;
        margin: 0 auto;
    }

    .section-3__size__images {
        background-color: #131313;
        max-width: 817px;
        max-height: 434px;
        top: -226px;
        z-index: 3;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .s-3__size__images__online {
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }

    .s-3__size__images__ellipse {
        z-index: 2;
        position: absolute;
        width: 125px;
        height: 125px;
        top: 35%;
        left: 43%;
    }

    .line {
        background: #E3B873;
        border-radius: 30px;
        border: 1px solid #E3B873;
        width: 55px;
        margin: -150px auto 34px;
    }

    .section-3__sizep {
        max-width: 681px;
        max-height: 131px;
        font-size: 18px;
        line-height: 37px;
        text-align: center;
        color: #363636;
        margin-left: auto;
        margin-right: auto;
    }

    .section-5 {
        margin: 147px auto 124px auto;
        height: 706px;
        max-width: 1236px;
    }

    .section-5__types-section-5__repair {
        margin-left: auto;
        margin-right: auto;
        max-width: 247px;
        height: 67px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .section-5__types-section-5__repair span {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818;
    }

    .section-5__types-section-5__repair img {
        width: 114px;
        height: 28px;
    }

    .section-5__repair {
        margin: 31px auto 0;
        max-width: 1236px;
        justify-content: space-between;
    }

    .repair>div {
        max-width: 392px;
        height: 421px;
    }

    .s-5__repair__block__description {
        max-width: 310px;
        height: 286px;
        background: #FFFFFF;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        z-index: 1;
        position: relative;
        top: -127px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 34px;
    }

    .s-5__repair__block__description__name {
        font-size: 18px;
        line-height: 25px;
        color: #363636;
        margin-bottom: 13px;
        padding: 25px 68px 13px 34px;
    }

    .s-5__repair__block__description li {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 25px;
        color: #959595;
        list-style-type: disc;
    }

    .s-5__repair__block__price_button {
        background: #E3B873;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        width: 228px;
        height: 54px;
        border: none;
        margin-top: 10px;
        position: relative;
        left: -34px;
    }

    .s-5__repair__block__price_button span {
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .section-4__form {
        justify-content: space-between;
        max-height: 51px;
    }

    .section-4 {
        max-width: 769px;
        margin: 91px auto 0 auto;
        height: 102px;
        justify-content: space-between;
        flex-direction: column;
    }

    .section-4__agree {
        height: 16px;
        justify-content: center;
    }

    .agree-text {
        font-size: 14px;
        line-height: 163.68%;
        color: #181818;

    }

    .section-4__form__field {
        flex-direction: column;
        justify-content: space-between;
        max-height: 51px;
    }

    .line-2 {
        border: 1px solid rgba(54, 54, 54, 0.3);
        width: 231px;
    }


    .s-4__form__field__name {
        font-size: 13px;
        color: rgba(54, 54, 54, 0.5);
    }

    .f-text {
        font-size: 14px;
        color: #363636;
    }

    .submit {
        background: #E3B873;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        width: 200px;
        height: 51px;
        border: none;
    }

    .submit span {
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .section-6 {
        margin-left: auto;
        margin-right: auto;
        height: 725px;
        max-width: 1236px;
        justify-content: space-between;
    }

    .section-6__left_block {
        width: 703px;
        background-image: url('/img/image_6.1.png');
        background-repeat: no-repeat;
        background-size: 703px 645px;
        position: relative;
        left: -103px;
    }

    .section-6__right_block {
        max-width: 737px;
        padding-top: 80px;
    }

    .s-6__right_block__form {
        max-width: 496px;
        height: 469px;
        background-color: #131313;
        padding: 28px 49px 27px;
        flex-direction: column;
        justify-content: space-between;
    }

    .s-6__right_block__form__heading {
        max-width: 297px;
        height: 47px;
        margin: 0 auto;
    }

    .s-6__right_block__form__heading p {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .s-6__right_block__form__field {
        flex-direction: column;
    }

    .s-6__right_block__form__field>div {
        flex-direction: column;
    }

    .m-b-47 {
        margin-bottom: 47px;
    }

    .margin-b-16 {
        margin-bottom: 16px;
    }

    .s-6__right_block__form__name {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 7px;
    }

    .s-6__right_block__form__text {
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
        margin-bottom: 3px;
        background-color: #131313;
        border: none;
    }

    .line-3 {
        width: 408px;
        border: 1px solid rgba(255, 255, 255, 0.15);
    }

    .color-wh {
        color: white;
    }

    .s-6 {
        justify-content: flex-start;
    }

    .s-6__right_block__form__button {
        margin-bottom: 0;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
        width: 213px;
        height: 51px;
        border: none;
    }

    .s-6__right_block__form__button span {
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .s-6__right_block__form__call_button {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .s-6__left_block__list_of_service {
        width: 600px;
        flex-direction: column;
        padding-top: 117px;
        padding-left: 230px;
        justify-content: flex-start;
        align-items: start;
    }

    .s-6__left_block__list_of_service>img {
        height: 100px;
        margin-bottom: 40px;
    }

    .section-6__right_block__piggy {
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
    }

    .section-6__right_block__piggy img {
        width: 72px;
        height: 72px;
    }

    .section-6__right_block__piggy span {
        font-size: 18px;
        line-height: 26px;
        color: #E3B873;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    }

    .section-7 {
        width: 100%;
        height: 864px;
        margin: 250px auto 0;
        background: url('../img/image_5.1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .section-7__left_block__foto {
        display: none;
    }

    .section-7__left_block__img_left {
        display: none;
    }

    .section-7__left_block__img_right {
        display: none;
    }


    .section-7__background-color {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .section-7__block_size {
        justify-content: space-between;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
    }

    .s-7-background-color {
        opacity: 0.2;
        width: 100%;
        height: 100%;
    }

    .section-7__left_block {
        max-width: 587px;
        height: 100%;
        padding-top: 137px;
        padding-left: 99px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .section-7__left_block span {
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        color: #E3B873;
        margin-bottom: 47px;
    }

    .section-7__left_block>li {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .section-7__left_block li:hover {
        color: #E3B873;
        width: 100%;
        border-bottom: solid #E3B873 1px;
    }

    .section-7__right_block {
        flex-flow: column wrap;
        width: 853px;
        height: 1017px;
    }

    .section-7__right_block__img_1 {
        width: 354px;
        height: 557px;
        position: relative;
        top: -41px;
    }

    .section-7__right_block__img_2 {
        width: 354px;
        height: 349px;
    }

    .section-7__right_block__img_3 {
        width: 354px;
        height: 275px;
        position: relative;
        top: -112px;
    }

    .section-7__right_block__img_4 {
        width: 354px;
        height: 625px;
        position: relative;
        bottom: 70px;
    }


    .section-8 {
        max-width: 1236px;
        margin: 0 auto 40px;
    }

    .section-8__recomendation {
        margin: 110px auto 39px;
        flex-direction: column;
        align-items: center;
    }

    .section-8__recomendation img {
        width: 112px;
        height: 28px;
    }

    .section-8__recomendation span {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818;
        margin-bottom: 15px;
    }

    .section-8__recomendation p {
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #363636;
        margin-top: 27px;
    }

    .section-8__recomendation__block {
        width: 100%;
        justify-content: space-between;
    }

    .section-8__recomendation__block>div {
        width: 376px;
        height: 428px;
        background-color: #FFFFFF
    }

    .s-8__recomendation__block__feedback__text {
        font-size: 13px;
        line-height: 180%;
        color: #959595;
    }

    .s-8__recomendation__block__feedback__name_user {
        width: 100%;
        max-height: 97px;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 11px;
    }

    .s-8__recomendation__block__feedback__name_user img {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 50%;
    }

    .s-8__recomendation__block__feedback__name_user span {
        font-size: 18px;
        line-height: 23px;
        color: #181818;
    }

    .s-8__recomendation__block__s-8__recomendation__block__feedback__text {
        flex-direction: column;
        padding-top: 13px;
        padding-left: 20px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
        height: 428px;
    }

    .s-8__recomendation__block__feedback__button {
        max-width: 294px;
        height: 54px;
        background-color: #E3B873;
        justify-content: flex-start;
        position: relative;
        top: -27px;
    }

    .s-8__recomendation__block__feedback__button div {
        width: 50%;
        align-items: center;
        padding-left: 15px;
    }

    .s-8__recomendation__block__feedback__button_part_1 img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .s-8__recomendation__block__feedback__button_part_2 img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .s-8__recomendation__block__feedback__button span {
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .s-8__recomendation__block__feedback__button_part_1 {
        border-right: 1px solid white;
    }

    .section-9__form_block {
        width: 883px;
        height: 445px;
        background-color: #131313;
        position: relative;
        top: -220px;
        margin: 0 auto;
    }

    .section-9__form {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 520px;
        height: 380px;
        background-color: #131313;
        margin: 0 auto;
        padding-top: 34px;
    }

    .section-9__form__field-name {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 7px;
    }

    .section-9__form__answer {
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
        margin-bottom: 8px;
        background-color: #131313;
        border: none;
    }

    .section-9__form__line_1 {
        width: 100%;
        justify-content: space-between;
    }

    .section-9__form__line_2 {
        width: 100%;
        justify-content: flex-start;
    }

    .section-9__form__field {
        flex-direction: column;
    }

    .section-9__form__heading {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .section-9__form__agree {
        align-items: center;
    }

    .section-9__form__agree span {
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }

    .submit {
        background: #E3B873;
        box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
        width: 200px;
        height: 51px;
    }

    .submit span {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .section-9 {
        max-width: 1440px;
        height: 350px;
        margin: 0px auto;
        background-image: url("../img/Group.png");
        background-repeat: repeat;
        background-position: center;
    }

    .section-9__size {
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 350px;
    }

    .section-10 {
        width: 100%;
        height: 954px;
        margin: 0 auto;
        background-image: url("../img/image_7.2.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .section-10__background_color {
        background: rgba(0, 0, 0, 0.85);
        width: 100%;
        height: 954px;
    }

    .section-10__block {
        flex-direction: column;
        padding-top: 275px;
        justify-content: space-around;
        align-items: center;
    }

    .line-5 {
        border: 1px solid rgba(255, 255, 255, 0.15);
        width: 231px;
    }

    .line-5-1 {
        border: 1px solid rgba(255, 255, 255, 0.15);
        width: 520px;
    }

    .section-10__block span {
        width: 589px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
        margin-bottom: 26px;
    }

    .section-10__block__icon img {
        width: 28px;
        height: 28px;
        margin-bottom: 26px;
        margin-left: 15px;
    }

    .section-10__block__map {
        width: 925px;
        height: 465px;
    }

    /* footer */

    .s-4__form__field__inpute {
        border: none;
    }

    input {
        outline: none;
        cursor: pointer;
    }

    input::-webkit-input-placeholder {
        color: white;
    }

    input::-moz-placeholder {
        color: white;
    }

    #n1::-webkit-input-placeholder {
        color: #363636;
    }

    #n1::-moz-placeholder {
        color: #363636;
    }

    footer {
        background-color: #131313;
        color: white;
        align-items: center;
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        position: relative;
        margin-bottom: 0;
    }

    .ch-b {
        color: black;
    }

    label {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
        cursor: pointer;
    }

    .check-box {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .check-box+label {
        display: inline-flex;
        align-items: center;
    }

    .check-box+label::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #E3B873;
        border-radius: 1px;
        margin-right: 0.5em;
        background-color: #E3B873;
    }

    .check-box:checked+label::before {
        border: 1px solid #E3B873;
        border-radius: 1px;
        margin-right: 0.5em;
        background-color: #E3B873;
        background-image: url('../img/check.svg');
        background-repeat: no-repeat;
        background-size: 18px 18px;
    }
}